body {
  background-color:#cccccc;
  cursor:default;
}

canvas {
  background-color:#f2f2f2;
  border: 1px solid #80aaff;
}

#main {
  margin:auto;
  width: 1290px;
}

#gameHolder {
  width:1120px;
  height:800px;
  float:right;
}

#buttonHolder button {
  width:130px;
  margin-left:10px;
  margin-top:20px;
}

#buttonHolder {
  float:left;
  width:150px;
  height:800px;
}

#buttonHolder p {
  margin:20px;
}

.noTextSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}